*{
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fondo.jpg);
}

/*Header desde aqui*/

.header {
    background: #34568B;
    color: white;
    padding: 1rem;
    text-align: left;
}

.titulo {
    margin: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 1rem;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

/*header hasta aqui*/


/*Desde aqui mi section*/


.articulo-1 {
    width: 1000px;
    height: 500px;
    background-color: white;
    margin-left: 50px;
    margin-top: 30px;
    border-color: black;
    border-radius: 20px;
    float: left;
}

.detalles {
    margin: 0px 60px 0px 40px;
    padding-top: 30px;
    padding-left: 50px;
    position: relative; /*posiciono mi elemento  sin que este fijo*/
}

.fecha {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #34568B;
    color: white;
    top: 20%;
    left: -10%;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
}

.detalles-1 {
    margin: 0px 60px 0px 40px;
    padding-top: 30px;
    padding-left: 50px;
    position: relative; /*posiciono mi elemento  sin que este fijo*/
}

.detalles-2 {
    margin: 0px 60px 0px 40px;
    padding-top: 30px;
    padding-left: 50px;
    position: relative;
}

.fecha-1 {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #34568B;
    color: white;
    top: 20%;
    left: -10%;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
}

.fecha-2 {
    width: 80px;
    height: 80px;
    position: absolute;
    background-color: #34568B;
    color: white;
    top: 43%;
    left: 0.1%;
    margin-left: 20px;
    border-radius: 5px;
    text-align: center;
}

.fecha p {
    font-size: 2rem;
    margin-top: 10px;
}

.fecha span {
    font-size: 1rem;
}

.fecha-1 p {
    font-size: 2rem;
    margin-top: 10px;
}

.fecha-1 span {
    font-size: 1rem;
}

.fecha-2 p {
    font-size: 2rem;
    margin-top: 10px;
}

.fecha-2 span {
    font-size: 1rem;
}
/*Hasta aqui mi section*/

/*Desde aqui mi aside*/

.aside {
    width: 420px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    float: right; /*mover el aside*/
    margin-right: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-left: 10px;
}
