@{
    ViewData["Title"] = "Index";
}

<h1>Sucursal</h1>

<fieldset>
    <form id="frmBusqueda" method="post" class="row g-3">
        <div class="col-md-6">
            <label for="name" class="form-label">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="inputNombre">
        </div>
        <div class="col-md-6">
            <label for="Direccion" class="form-label">Direccion</label>
            <input type="text" class="form-control" name="Direccion" id="inputDireccion">
        </div>
        <div class="col-12">
            <button type="button" class="btn btn-primary" onclick="BuscarSucursal()">Buscar</button>
            <button type="button" class="btn btn-secondary" onclick="LimpiarSucursal()">Limpiar</button>
        </div>
    </form>

</fieldset>

<div id="divTable">

</div>

<script src="~/js/generico.js"></script>
<script src="~/js/sucursal.js"></script>
