*{
    margin: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(fondo.jpg);
}

/*Header desde aqui*/

.header {
    background: #34568B;
    color: white;
    padding: 1rem;
    text-align: left;
}

.titulo {
    margin: 0;
}

.menu ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: left;
    gap: 1rem;
    color: white;
}

.menu a {
    color: white;
    text-decoration: none;
}

/*header hasta aqui*/


/*Desde aqui mi section*/

.contenedor {
    display: flex;
    justify-content: space-between;
    position: relative;

}

.articulo-1 {
    width: 1000px;
    height: 630px;
    background-color: white;
    margin-left: 50px;
    margin-top: 30px;
    border-color: black;
    border-radius: 20px;
    float: left;
}

.detalles {
    margin: 0px 60px 0px 40px;
    padding-top: 30px;
    padding-left: 30px;
    position: relative; /*posiciono mi elemento  sin que este fijo*/
    display: flex;
}

.fecha {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 30px;
    left: -80px;
    background-color: #34568B;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 5px;
}

.fecha p {
    font-size: 2rem;
    margin-top: 10px;
}

.fecha span {
    font-size: 1rem;
}

/*Hasta aqui mi section*/

/*Desde aqui mi aside*/

.aside {
    width: 420px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    float: right; /*mover el aside*/
    flex: 1 1 30%;
    margin: 30px;
}

.aside h2 {
    margin-top: 10px;
    margin-left: 10px;
}

.aside ul {
    list-style: none;
    text-decoration: none;
    padding: 10px;
    font-size: 2rem;
}

.aside li {
    font-size: 1rem;
}

/*Hasta aqui mi aside*/

/*imagenes*/
.parrafo {
    display: flex;
    flex-wrap: wrap;
}

.parrafo p {
    flex: 1 1 0;
}

.parrafo img {
    flex: 0 0 auto;
    width: 200px;
}