* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

body {
    background-color: #918e8d;
}

/*Header*/ 

.header {
    background-color: #191817;
    display: flex; /*centra el contenido de forma vertical*/
    justify-content: space-between; /*si quiero todo a la derecha es flex-end*/
    align-items: center;
    height: 85px;
    padding: 5px 10%;
}

.header .logo {
    cursor: pointer;
    /*margin-right: auto; para poner el logo a la izquierda*/
    /*order; 3 lo uso solo si quiero que mi logo este al lado derecho*/
}

.header .logo img {
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover {
    transform: scale(1.2);
}

/* .header nav { cambia el orden del nav
    order; 1
}*/

.header .nav-links {
    list-style: none;
}

.header .nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links li:hover {
    transform: scale(1.1);
}

.header .nav-links a {
    font-weight: 700;
    color: #fafafa;
    text-decoration: none;
}

.header .nav-links li a:hover {
    color: #ce0606;
}

/* .header .btn { cambia el boton
    order: 2;
}*/

.header .btn button {
    /*margin-left: 20px; para separar un poco a la izquierda los links del boton*/
    font-weight: 700;
    color: #ce0606;
    padding: 9px 25px;
    background: #fafafa;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover {
    background-color: #191817;
    color: #fafafa;
    transform: scale(1.1);
}

/*body*/

.container {
    max-width: 3000px;
}

.cuerpo {
    background-color: #918e8d;
    width: 1100px;
    float: left;
    border: solid #fafafa;
    margin-left: 10px;
}

aside {
    float: right;
    color: #666564;
    width: 380px;
    border: solid #ce0606;
    margin-right: 10px;
}
 
.cuerpo h2{
    text-align: center;
}

.cuerpo p {
    text-align: justify;
}

.cuerpo img {
    border-radius: 130px;
}

.button {
    background-color: #191817;
    color: #fafafa;
    border-radius: 10px;
    margin-top: 7px;
    margin-bottom: 10px;
}

.cuerpo-1 {
    border: 5px solid #191817;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

.cuerpo-2 {
    border: 5px solid #191817;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-right: 5px;
}

/*formulario*/

input[type="text"] {
    background-color: #191817;
    border-radius: 5px;
    border-bottom: 2px solid #fafafa;
    margin-bottom: 5px;
}

input[type="password"] {
    background-color: #191817;
    border-radius: 5px;
    border-bottom: 2px solid #fafafa;
    margin-bottom: 5px;
}

.h2-1 {
    margin-bottom: 5px;
}