*  {
  margin: 0;
}


body {
    height: 100%;
    background-color: rgb(243, 240, 240);
}

body:hover {
    background-color: rgb(11, 11, 11);
    transition: backgraund-color 0.3s ease;
}

.card {
    box-shadow: #0000 0px 0px 50px; /*sombreado*/
    margin: auto;
    margin-top: 50px;
    height: 630px;/*tamaño del cuadro*/
    background-color: #c6c2c2;
    width: 500px; /*ancho del cuadro*/
}

.card-header {
    position: relative;
    color: white;
    height: 350px;
    background-color: black;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.encabezado {
    position: absolute; /* Superpone sobre la imagen */
    background-color: rgba(184, 161, 161, 0.8); /* Fondo semitransparente */
    color: white;
    padding: 20px; /* Opcional, da espacio interno al contenido */
    z-index: 2; /* Sobre la imagen */
    opacity: 0.25;
}

.card header img{
    z-index: 1;/*revisar*/
    height: 100%;
    width: auto;/*mantiene mis proporciones de imagen*/
}

.card-header:hover {
    transform: rotate(90deg);
    /*transform: scale(1.5, 0.5);*/ /*con esos valores dentro del scale puedo comprimir la imagen horizontal/vertical o que se estire vertical/horizontal*/
    transition: transform 0.3s ease;
}

h4 {
    color: goldenrod;
}

.card-content {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 20px; /*espaciado*/
}

.card-title1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price {
    font-size: 1rem;/*tamaño del precio*/
    font-weight: bold;/*resalta el precio*/
    color: goldenrod;
}

.card-title1:hover {
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.size {
    margin-top: 50px;
}

.color {
    margin-top: 40px;
}

.red {
    border: 1px solid rgb(10, 10, 10);
    background-color: red;
    border-radius: 50%;
    color: red;
    width: 10px;
    height: 10px;
}

.blue {
    border: 1px solid rgb(13, 13, 13);
    background-color: blue;
    border-radius: 50%;
    color: blue;
    width: 10px;
    height: 10px;
}

.white {
    border: 1px solid rgb(11, 11, 11);
    background-color: rgb(240, 238, 235);
    border-radius: 50%;
    color: white;
    width: 10px;
    height: 10px;
}

.green {
    border: 1px solid rgb(20, 20, 20);
    background-color: green;
    border-radius: 50%;
    color: green;
    width: 10px;
    height: 10px;
}

.encabezado:has(#key1:hover){
    background-color: rgb(231, 237, 235);
    opacity: 1;
}

.card-header:has(#key1:hover) img {
    filter: blur(3px);
 }