
@{
    ViewData["Title"] = "Index";
}

<h1 class="display-6 text-center fw-bold"><i class="fa fa-pills"></i>  Medicamentos</h1>


@* <fieldset id="fieldsetForm" class="border p-3 shadow rounded">
    <legend class="h5">Gestionar Medicamento</legend>
    <div class="col-md-14">
        <form id="frmMedicamento" method="post" class="row g-3">
            <div class="col-md-4">
                <label for="inputIdLab" class="form-label">Id Medicamento</label>
                <input type="text" class="form-control shadow-sm rounded" name="idMedicamento" id="idMedicamento" placeholder="Id Medicamento" readonly>
            </div>
            <div class="col-md-4">
                <label for="inputCodigo" class="form-label">Codigo</label>
                <input type="text" class="form-control shadow-sm rounded" name="codigo" id="codigo" placeholder="codigo">
            </div>
            <div class="col-md-4">
                <label for="inputNombre" class="form-label">Nombre Medicamento</label>
                <input type="text" class="form-control shadow-sm rounded" name="nombreMedicamento" id="nombreMedicamento" placeholder="Nombre">
            </div>
            <div class="col-md-4">
                <label for="inputTipoMedicamento" class="form-label">Tipo Medicamento</label>
                <input type="text" class="form-control shadow-sm rounded" name="tipoMedicamento" id="tipoMedicamento" placeholder="Tipo Medicamento">
            </div>
            <div class="col-md-4">
                <label for="inputNombreLaboratorio" class="form-label">Laboratorio</label>
                <input type="text" class="form-control shadow-sm rounded" name="nombreLaboratorio" id="nombreLaboratorio" placeholder="Laboratorio">
            </div>
            <div class="col-md-6">
                <label for="inputUsoMedicamento" class="form-label">Uso Medicamento</label>
                <input type="text" class="form-control shadow-sm rounded" name="usoMedicamento" id="usoMedicamento" placeholder="Uso medicamento">
            </div>
            <div class="col-md-6">
                <label for="inputContenido" class="form-label">Contenido</label>
                <input type="text" class="form-control shadow-sm rounded" name="contenido" id="contenido" placeholder="contenido">
            </div>
            <div class="col-12">
                <button type="button" class="btn btn-success" onclick="GuardarMedicamento()">Guardar</button>
                <button type="button" class="btn btn-secondary" onclick="LimpiarMedicamento()">Limpiar</button>
            </div>
        </form>
    </div>
</fieldset> *@

<button type="button" class="btn btn-primary" data-bs-toggle="modal" onclick="MostrarModal()">
    Nuevo Medicamento
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-earmark-plus-fill" viewBox="0 0 16 16">
        <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1M8.5 7v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 1 0" />
    </svg>
</button>

<br />
<br />

<!-- Modal -->
<div class="modal fade" id="modalMedicamento" tabindex="-1" aria-labelledby="modalMedicamentoLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bg-info text-dark">
            <div class="modal-header">
                <h5 class="modal-title" id="modalMedicamentoLabel">Agregar Medicamento</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="frmMedicamento" method="post" class="row g-3">
                    <div class="col-md-12">
                        <label for="inputIdLabModal" class="form-label">Id Medicamento</label>
                        <input type="text" class="form-control shadow-sm rounded" name="idMedicamento" id="idMedicamento" placeholder="Id Medicamento" readonly>
                    </div>
                    <div class="col-md-12">
                        <label for="inputCodigoModal" class="form-label">Codigo</label>
                        <input type="text" class="form-control shadow-sm rounded" name="codigo" id="codigo" placeholder="codigo">
                    </div>
                    <div class="col-md-12">
                        <label for="inputNombreModal" class="form-label">Nombre Medicamento</label>
                        <input type="text" class="form-control shadow-sm rounded" name="nombreMedicamento" id="nombreMedicamento" placeholder="Nombre">
                    </div>
                    <div class="col-md-12">
                        <label for="cboTipoMedicamentoModal" class="form-label">Tipo Medicamento</label>
                        <select class="form-control shadow-sm rounded" name="idTipoMedicamento" id="tipoMedicamento">
                            <option value=''>Seleccione</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="cboLaboratorioModal" class="form-label">Laboratorio</label>
                        <select class="form-control shadow-sm rounded" name="idLaboratorio" id="laboratorio">
                            <option value=''>Seleccione</option>
                        </select>
                    </div>
                    <div class="col-md-12">
                        <label for="inputUsoMedicamentoModal" class="form-label">Uso Medicamento</label>
                        <input type="text" class="form-control shadow-sm rounded" name="usoMedicamento" id="usoMedicamento" placeholder="Uso medicamento">
                    </div>
                    <div class="col-md-12">
                        <label for="inputContenidoModal" class="form-label">Contenido</label>
                        <input type="text" class="form-control shadow-sm rounded" name="contenido" id="contenido" placeholder="contenido">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-success" onclick="GuardarMedicamento()">Guardar</button>
                <button type="button" class="btn btn-secondary" onclick="LimpiarMedicamento()">Limpiar</button>
            </div>
        </div>
    </div>
</div>



    <div class="card-body">
        <div id="divContenedorTabla"></div>
    </div>





<script src="~/js/generic.js"></script>
<script src="~/js/medicamento.js"></script>